<h2>Réinitialisation de votre mot de passe</h2>

<p>Bonjour {{ user.prenom ?? user.email }},</p>

<p>
  Voici votre code de vérification pour réinitialiser votre mot de passe :
</p>

<p style="font-size: 24px; font-weight: bold;">
  {{ code }}
</p>

<p>
  Ce code est valable pendant 15 minutes.
</p>

<p>Si vous n'êtes pas à l'origine de cette demande, ignorez cet email.</p>

<p>Health Fitness</p>
